@model List<webistem.Models.Experience>

@foreach(var item in Model)
{
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">@item.Baslık</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@item.Baslık2</h3>
                <div class="subheading mb-3">@item.KısaAcıklama</div>
                <p>@item.Açıklama</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@item.ExperienceDateTime</span></div>
        </div> 
    </div>
</section>
<hr class="m-0" />
}