@model IEnumerable<webistem.Models.Education>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniversiteAdı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BolumunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ortalama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EgtimTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniversiteAdı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BolumunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ortalama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EgtimTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EducationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EducationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
