@model IEnumerable<webistem.Models.Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Baslık)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslık2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KısaAcıklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Açıklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslık)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslık2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KısaAcıklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Açıklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExperienceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExperienceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExperienceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
